---
interface Props {
    card: {
        TITLE: string;
        SUBTITLE: string;
        POWER: string;
        ENTER: string;
        TAGS: string;
        'MAIN TEXT': string;
        FLAVOR: string;
        ART: string;
        CREDIT: string;
        STAR: string;
        AMOUNT: string;
        TEMPLATE: string;
        [propName: any]: any
    };
}

/**
    TITLE: 'NO MERCY',
    SUBTITLE: 'what is grief',
    POWER: '',
    ENTER: '2g',
    TAGS: '',
    'MAIN TEXT': '~ATH: your own chracter card. Execute: Gain 4 Grist.',
    FLAVOR: '',
    ART: '',
    CREDIT: '',
    STAR: '2',
    AMOUNT: '1',
    TEMPLATE: 'C:\\Users\\luche\\Documents\\Writing\\Games\\Homestuck ATCG\\nanDeck\\ND_ExecuteTemplate.png'
*/

const { card } = Astro.props;
---
<tr>
    <td>{card.TITLE}</td>
    <td>{card.SUBTITLE}</td>
    <td>{card.POWER}</td>
    <td>db</td>
    <td>md</td>
    <td>{card.STAR}</td>
    <td>{card['MAIN TEXT']}</td>
    <td>{card.FLAVOR}</td>
    <td>{card.CREDIT}</td>
    <td>[img]</td>
    <td>001 The Opening Note</td>
    <td>XXX-Y</td>
</tr>