---
import { Image } from 'astro:assets';
import { getImage } from "astro:assets";
import CardNotFound from "../images/card-not-found.svg";

interface Props {
    artCollection: {
        [propName: string]: object;
    };
    card: {
        TITLE: string;
        subtitle: string;
        Power: string;
        'Enter Cost': string;
        Tags: string;
        'Game Text': string;
        Flavorlogue: string;
        Stars: string;
        'Art Credit': string;
        Picture: string;
        'Set Release': string;
        'Card Number': string;
        [propName: any]: any
    };
}

const { card, artCollection } = Astro.props;

// For now, pretend we have this. It'll be available in the new revision of the export sheet.
const cardIdentifier = 'Set1_Planet2';

// Most cards have 1, but planets have 2, so we're using an array to deal with em.
let cardArt = [
    artCollection[card.Picture],
    // artCollection[`${cardIdentifier}b.png`],
];

cardArt = await Promise.all(
    cardArt.map(async (art) => {
        if (! art) {
            art = CardNotFound;
        }

        const publicImage = await getImage({src: art});

        return {
            asset: art,
            public: publicImage,
        };
    })
);
---
<tr>
    <td>{card.TITLE}</td>
    <td>{card.subtitle}</td>
    <td>{card.Power}</td>
    <td>{card['Enter Cost']}</td>
    <td>{card.Tags}</td>
    <td>{card['Game Text']}</td>
    <td>{card.Flavorlogue}</td>
    <td>{card.Stars}</td>
    <td>{card['Art Credit']}</td>
    <td>
        <div class="flex flex-row">
            { cardArt.map((image) => <a class="ml-4" href={ image.public.src } target="_blank"><Image src={ image.asset } width="34" height="48" alt="Card {card.TITLE}"/></a>) }
        </div>
    </td>
    <td>{card['Set Release']}</td>
    <td>{card['Card Number']}</td>
</tr>