---
import { Image } from 'astro:assets';
import { getImage } from "astro:assets";

interface Props {
    artCollection: {
        [propName: string]: object;
    };
    card: {
        TITLE: string;
        SUBTITLE: string;
        POWER: string;
        ENTER: string;
        TAGS: string;
        'MAIN TEXT': string;
        FLAVOR: string;
        ART: string;
        CREDIT: string;
        STAR: string;
        AMOUNT: string;
        TEMPLATE: string;
        [propName: any]: any
    };
}

const { card, artCollection } = Astro.props;

// For now, pretend we have this. It'll be available in the new revision of the export sheet.
const cardIdentifier = 'Set1_Planet2';

// Most cards have 1, but planets have 2, so we're using an array to deal with em.
let cardArt = [
    artCollection[`${cardIdentifier}.png`],
    artCollection[`${cardIdentifier}b.png`],
];

cardArt = await Promise.all(
    cardArt.map(async (art) => {
        const publicImage = await getImage({src: art});

        return {
            asset: art,
            public: publicImage,
        };
    })
);
---
<tr>
    <td>{card.TITLE}</td>
    <td>{card.SUBTITLE}</td>
    <td>{card.POWER}</td>
    <td>db</td>
    <td>md</td>
    <td>{card.STAR}</td>
    <td>{card['MAIN TEXT']}</td>
    <td>{card.FLAVOR}</td>
    <td>{card.CREDIT}</td>
    <td>
        <div class="flex flex-row">
            { cardArt.map((image) => <a class="ml-4" href={ image.public.src } target="_blank"><Image src={ image.asset } width="34" height="48" alt="Card {card.TITLE}"/></a>) }
        </div>
    </td>
    <td>001 The Opening Note</td>
    <td>XXX-Y</td>
</tr>